body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*   topSquare STARTS  */
.wrapper1 {
    
    min-height: 100%; 
    display: flex;
    flex-direction: column;  
    align-items: center;
}

.box {
    
    width: 100px; 
    height: 50px; 
    margin: 0px; 

}

.topSquare {
    background-color: #2A2C2E;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap; 
    margin-top: 20px;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden; 
}


@media screen and (max-width: 900px) {
    .topSquare {
        height: auto; 
    }

    .topSquare .box {
        width: 100%; 
    }

    .topSquare .box:nth-child(1) {
        width: 100%; 
        max-width: none; 
    }
}


.topSquare .box {
    color: white;   
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 8px; 
}

.topSquare .box img {
    max-width: 100%; 
}


.topSquare .box:nth-child(1) {
    width: 166px;
    border: 0px solid transparent;
    margin-right: 20px;
}


.topSquare .box:nth-child(2),
.topSquare .box:nth-child(3),
.topSquare .box:nth-child(4),
.topSquare .box:nth-child(5),
.topSquare .box:nth-child(6),
.topSquare .box:nth-child(7) {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0px solid transparent;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.topSquare .box:nth-child(8),
.topSquare .box:nth-child(9),
.topSquare .box:nth-child(10),
.topSquare .box:nth-child(11){
    width: 50px;
    height: 50px;
    border: 0px solid transparent;
}


.topSquare .box:nth-child(12){
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px solid transparent;
    margin-right: 15px; 
}

.topSquare .box:nth-child(12) img.login{
    border-radius: 25%;
}

/*  topSquare ENDS  */


.box {   
    width: 100px; 
    height: 50px; 
    margin: 0px; 
}

/*   Banner STARTS  */

.allBooks {
    background-color: #F4CE47;
    width: 100%;
    display: flex;
    margin: 15px;
    justify-content: center; 
    white-space: nowrap;
}


.allBooks h1 {
    color: #F4BA30;
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 10px;
    margin: 0;
}

/*   Banner ENDS   */





/*   Books List Details  STARTS   */

.wrapper2{
    background-color: #2A2C2E;
    margin-top: 20px;
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3px ;
    flex-wrap: wrap; 
}

.container {
    margin: 10px;
    margin-top: 40px;
    background-color: #FFF;
    height: 520px;
    padding: 24px;
    align-items: center;
    position: relative; 
    border-radius: 5%;
    margin-bottom: 0px;
    
}

.container .pic img {
    max-width: 100vh; 
    height: auto; 
    border-radius: 5%;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .container {
        width: calc(100% - 40px); 
    }
}


.pic {
    display: flex;
    flex-direction: column;
    align-items: center ;
    width: 100%;
    margin-bottom: auto; 
    margin-top: 4px;
    border-radius: 5%;    
}


.container .box:nth-child(3),
.container .box:nth-child(4) {
    display: inline-block; 
    margin-top: 10px;
    margin-bottom: 10px;
    width: 26%; 
    vertical-align: top; 
    border: 2px solid transparent;
}

/*   Books List Details  ENDS   */



/*   Bottom Policy STARTS   */
.wrapper3{
    margin-top: 20px;
}

.bottomSquare1, 
.bottomSquare2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.bottomSquare2 {
    min-height:30px;
}


.wrapper3{
    background-color: #2A2C2E;
    display: flex;
    flex-direction: column;
    width: 1300px;
    align-items: center;
}

/* Add media query for smaller screens */
@media screen and (max-width: 768px) {
    .wrapper3 {
        padding: 0 20px; 
    }
}

.bottomSquare1,
.bottomSquare2{
    display: flex;
    width: 1300px;
    height: 88px;
}

.bottomSquare1 {  
    background-color: #2A2C2E;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100px; 
    padding: 0 20px; 
}

.bottomSquare2 {
    background-color: #000000;
    color: #FFF;
    display: flex;
    justify-content: space-between ; 
    align-items: center; 
    padding: 0 20px; 
    height: 5%;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; 
    letter-spacing: 0.018px;
}


.bottomSquare2 .box:nth-child(3){
    width: 50%;
    height: 5%;
}


/*   Bottom Policy ENDS   */


